<div id="application">	
<div id="home">  
  <% if logged_out? %>
    <div id="home_logged_out">
      <%= link_to "Make an account today!", signup_path, class: "signup", remote: true %>
    </div>
	<% else %>
    <div id="userInfo">  
		  <%= render partial: 'shared/user_info' %>
    </div>  
    <div id="createForm">  
	    <h3 class="page-head">Make a new listing!</h3>
	    <%= render partial: 'shared/listing_form' %>
	  </div>
    
	<h3 class="page-head">Listings</h3>
	
	  <div class="categories"><%= render partial: 'layouts/categories' %></div>
		
		

			<!-- SEARCH BAR HERE-->
			<form id="live-search" action="" class="search-bar" method="post">
			    <fieldset>
			        <input type="text" class="text-input" id="filter" value="" placeholder="Type to search listings..." />
			        <span id="filter-count"></span>
			    </fieldset>
					<input type="reset" value="Clear Search" id="clear">
				</form>
				<span class="no-results">Sorry, no listings match your search term.</span>

				
				
			<div class="listings-list">
						
	 	  <%= render partial: 'shared/feed', locals: { feed_items: @feed_items } %>
	  </div>
  <% end %>
</div> 
</div> 