<div class="listing-link">

  <%= link_to sold.title, sold, remote: true %>
  <span class="listing-price">for $<%= price(sold) %></span><br><br>
  <span class="listing-type"><%= sold.type.category %></span><br><br>
	<span class="listing-content"><%= sold.content %></span><br><br>
  <span class="timestamp">
    Posted <%= time_ago_in_words(sold.created_at) %> ago by <%= link_to sold.user.fName, sold.user, remote: true %>
  </span>  


</div>