<div class="listing-link">

  <%= link_to listing.title, listing, remote: true %>
  <span class="listing-price">for $<%= price(listing) %></span><br><br>
  <span class="listing-type">Category: <%= listing.type.category %></span><br><br>
	<span class="listing-content"><%= listing.content %></span><br><br>
  <span class="timestamp">
    Posted <%= time_ago_in_words(listing.created_at) %> ago by <%= link_to listing.user.fName, listing.user %>
  </span>  


</div>

