<div id="application">
<<<<<<< HEAD
<<<<<<< HEAD
<div id="show-part">

<div id='profile-feed'>
      <h1 class=''>
        <%= @user.fName %> <%= @user.lName%>
      </h1>
			<h2>Class of <%= @user.classYr %></h2>
			<!-- <h3><%= @user.listings.count %> Listings</h3> -->
	  <% if @user.listings.any? %>
	    <ol class="list">
	      <%= render @listings %>
	    </ol>
=======
=======
>>>>>>> FETCH_HEAD
  <div id="show-part">
    <aside>
      <h1 class="welcome">
        <%= @user.fName %> <%= @user.lName%>
      </h1>
			<h2>Class of <%= @user.classYr %></h2>
			<h3><%= @user.listings.count %> Listings</h3>
    </aside>
	  
    <% if @user.listings.any? %>
	    <ol class="listings">
	      <%= render @listings %>
	    </ol> 
<<<<<<< HEAD
>>>>>>> FETCH_HEAD
=======
>>>>>>> FETCH_HEAD
	  <% end %>
   
    <% if current_user?(@user) %>
      <h3><%= @user.solds.count %> Sold Listings</h3>
      <% if @user.solds.any? %>
        <ol class="listings">
          <%= render @solds%>
        </ol>  
      <% end %>
    <% end %>
  </div>
</div>