<div id="application">
<div id="show-part">

<div id='profile-feed'>
      <h1 class=''>
        <%= @user.fName %> <%= @user.lName%>
      </h1>
			<h2>Class of <%= @user.classYr %></h2>
			<!-- <h3><%= @user.listings.count %> Listings</h3> -->
	  <% if @user.listings.any? %>
	    <ol class="list">
	      <%= render @listings %>
	    </ol>
	  <% end %>
	</div>
</div>
</div>