<div id="application">
<div id="show-part">
  <aside>
      <h1 class="welcome">
        <%= @user.fName %> <%= @user.lName%>
      </h1>
			<h2>Class of <%= @user.classYr %></h2>
			<h3><%= @user.listings.count %> Listings</h3>
  </aside>
	
	<div>
	  <% if @user.listings.any? %>
	    <ol class="listings">
	      <%= render @listings %>
	    </ol>
      
 
	  <% end %>
	</div>
</div>
</div>