<% provide(:title, 'Sign up') %>
<h1 class="page-head">Sign up</h1>

  <div id = "sign-up">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      
      <%= f.label :fName, "First Name", class: "field-text" %>
      <%= f.text_field :fName %>
      <br>
    
      <%= f.label :lName, "Last Name", class: "field-text" %>
      <%= f.text_field :lName %>
      <br>
    
      <%= f.label :email, "Email", class: "field-text" %>
      <%= f.text_field :email %>
      <br>  
    
      <%= f.label :sID, "Student ID", class: "field-text" %>
      <%= f.text_field :sID %>
      <br>  
    
      <%= f.label :classYr, "Class Year", class: "field-text" %>
      <%= f.text_field :classYr %>
      <br>
    
      <%= f.label :password, "Password", class: "field-text" %>
      <%= f.password_field :password %>
      <br>
    
      <%= f.label :password_confirmation, "Confirmation", class: "field-text" %>
      <%= f.password_field :password_confirmation %>
      <br>
    
      <%= f.submit "Create my account", class: "account-submit" %>
    <% end %>
  </div>
