<div class="post-form">

<%= form_for(@listing) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="post-input">
    <%= f.text_field :title, placeholder: "What are you selling?", class: "left-input" %>
		<%= f.text_field :price, placeholder: "$", class: "left-input"%>
		<%= f.text_area :content, placeholder: "More info...", class: "text-input"%>
    <%= f.collection_select :type_id, Type.all, :id, :category %>

  </div>
  <%= f.submit "Post", class: "post"%>
<% end %>

</div>
