<<<<<<< HEAD
		<div id="temp-header">
		    <nav>
		      <div class="wide-nav">
		      <ul id="navlist">
		        <li><%= link_to "Home",   root_path, class: "nav-link" %></li>
		        <li><%= link_to "Help",   help_path, class: "nav-link" %></li>
						<li><%= link_to "Log in", login_path, class: "nav-link" %></li>
					</div>
		</div>
		<div class="delete-account">
			<h1>Sorry to see you go...</h1>
			<p>We'd really appreciate your feedback. Just email <a href="mailto:nfalcone@u.rochester.edu">Nick</a> or <a href="mailto:lbochene@u.rochester.edu">Laura</a>. Thanks!</p>
		</div>
=======
>>>>>>> account-ajax
<div id="header">
<header>
    <!-- <%= link_to "sample app", '#', id: "logo" %> -->
    <nav>
      <div class="wide-nav">
      <ul id="navlist">
				
        <li><%= link_to "Home",   root_path, class: "nav-link" %></li>
        <li><%= link_to "Help",   help_path, class: "nav-link" %></li>
        <% if logged_in? %>
<!--          <li><%= link_to "Users", '#' %></li> -->
          <li><%= link_to "Profile", current_user, class: "nav-link" %></li>
					<li><%= link_to "Users", users_path, class: "nav-link" %></li>
          <li><%= link_to "Settings", edit_user_path(current_user), class: "nav-link" %></li>
          <li><%= link_to "Log out", logout_path, method: "delete", class: "nav-link" %></li>
        <% else %>
          <li><%= link_to "Log in", login_path, class: "nav-link" %></li>
        </div>
        <% end %>
			
      </ul>
    </nav>
</header>
<<<<<<< HEAD
=======
</div>
>>>>>>> account-ajax
