<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Exo+2:200' %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render partial: 'layouts/shim' %>
  </head>
  <body>		
    <%= render partial: 'layouts/header' %>
    <div id="categories">
      <%= render partial: 'layouts/categories' %>
    </div>
    <div id="application">    
        <% flash.each do |message_type, message| %>
          <%= message %>
        <% end %>
      
        <%= yield %>
    </div>
        <!-- <%= render 'layouts/footer' %> -->
        <%= debug(params) if Rails.env.test? %>
  </body>
</html>

